html, body, ul {
	margin: 0px;
	padding: 0px;
	font-family: 'Montserrat', sans-serif; 
	font-weight: 300;
    line-height: 1.6;
}

body {
	width: 100%;
}

.container {
    margin: 40px auto;
    width: 85%;
}

h1 {
    font-weight: 400;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 1px;
}

input {
    margin-left: 20px;
}

.an {
    margin-left: 145px;
}

.de {
    margin-left: 111px;
}

.mo {
    margin-left: 89px;
}

.ir {
    margin-left: 125px;
}

.ge {
    margin-left: 157px;
}

.ap {
    margin-left: 56px;
}

.in {
    margin-left: 127px;
}

.so {
    margin-left: 47px;
}

.po {
    margin-left: 34px;
}

h3 {
    float: left;
    display: inline-block;
    font-weight: 400;
    margin: 10px 0px 10px 0px;
}

form {
    float: left;
    display: inline-block;
    margin: 10px 0px 10px 0px;
}

input[value=submit] {
    margin: 0px;
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:10px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
    margin-top: 30px;
	padding:10px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

input[value=submit]:hover {
	background-color:#5cbf2a;
}

