.content-container {
    margin: 40px auto 0px auto;
    width: 90%;
}

.assign {
    background-color: #f9f9f9;
    border: 1px solid #d8dde0;
    padding: 10px 0px 20px 30px;
    margin-bottom: 40px;
}

li {
    list-style: disc;
}

h1 {
    font-weight: 400;
}

h1 span {
    font-weight: 300;
    font-size: 18px;
    margin-left: 20px;
    border-bottom: 1px solid #bababa;
    display: inline-block;
}

h1 span a {
    text-decoration: none;
    color: grey;
}

h1 .first {
    margin-left: 50px;
}

h2 {
    margin-top: 50px;
    font-weight: 400;
    margin: 0px;
}

h2 span {
    font-size: 16px;
    font-weight: 300;
    color: grey;
    margin-left: 20px;
}

h3 {
    font-weight: 400;
    border-bottom: 1px solid grey;
    display: inline-block;
}

.ch {
    margin-top: 70px;
}

.ch1, .ch2 {
    float: left;
    width: 40%;
    min-width: 300px;
    display: inline-block;
    margin-right: 8%;
}

.ch1 img {
    width: 100%;
}

.ch2 {
    width: 50%;
    margin-right: 0%;
}

.ch3 {
    margin-top: 40px;
}

.br, .se, .pr {
    margin-top: 80px;
}

.br1, .se, .pr {
    width: 90%;
}

.br2, .br3 {
    float: left;
    width: 40%;
    min-width: 300px;
    display: inline-block;
    margin-right: 4%;
}

.br3 {
    margin-top: 60px;
    margin-right: 0%;
}

.br a {
    text-decoration: none;
    color: grey;
}

.indent {
    margin-left: 3%;
}

.pr .survey {
    width: 90%;
    margin-top: 40px;
}

.pr .survey img {
    width: 100%;
}

.content {
    margin-top: 50px;
    margin-bottom: 70px;
}

.img-1 {
    margin: 20px 0px 30px 0px;
}

.content p {
    width: 85%;
}

.img-2 img {
    width: 45%;
    min-width: 300px;
    display: inline-block;
    margin: 20px 0px 30px 0px;
}

.img-3 img {
    margin: 20px 0px 15px 0px;
    width: 61.5%;
    min-width: 450px;
    display: inline-block;
}

.img-4 img {
    width: 30%;
    min-width: 300px;
    display: inline-block;
    margin-right: 1%;
    margin-bottom: 20px;
}

.img-5 img {
    width: 35%;
    min-width: 300px;
    display: inline-block;
    margin: 20px 0px 30px 0px;
}

.pattern {
    width: 90%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.website {
    width: 50%;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 1px solid #d1d1d1;
    float: left;
    display: inline-block;
    margin-right: 5%;
    min-width: 400px;
}

.pattern-exp {
    width: 40%;
    margin-top: 30px;
    float: left;
}

.pattern-exp2 {
    margin-top: 30px;
}

.pattern-exp a {
    color: grey;
}

.footer {
    margin: 0px auto;
    width: 90%;
}










