.constraint {
    margin: 40px auto 0px auto;
    width: 90%;
}

.day-link {
    margin: 30px auto;
    width: 90%;
    background-color: #f9f9f9;
    border: 1px solid #d8dde0;
    height: 60px;
}

.day-link li {
    float: left;
    margin: 0px 10px 0px 20px;
    padding-top: 20px;
}

.day-link a {
    text-decoration: none;
    color: grey;
}

.day-link a:hover {
    color: black;
    font-weight: 500;
    text-decoration: underline;
}

.project {
    width: 90%;
    margin: 50px auto 0px auto;
    padding-top: 15px; 
}

.project h2 {
    font-size: 30px;
    border-bottom: 1px solid grey;
    display: inline-block;
}

.project h2 span {
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
}

.day1-img {
    margin-top: 35px;
    float: left;
    display: inline-block;
    width: 65%;
    min-width: 560px;
    margin-left: auto;
    margin-right: auto;
}

.day1-img img {
    width: 100%;
}

.day1-desc {
    float: left;
    width: 28%;
    min-width: 300px;
    display: inline-block;
    margin-right: 5%;
    margin-top: 20px;
}

.day1-desc p, .day2-desc p, .day3-desc p {
    margin-top: 20px;
}

.day2-desc, .day3-desc {
    margin-top: 50px;
}

.day2-desc .split-1, .day2-desc .split-2 {
    float: left;
    display: inline-block;
    margin-right: 6%;
    width: 53%;
    min-width: 400px;
}

.day2-desc .split-1 {
    width: 34%;
}

.board-map, .board-element-1 {
    margin-top: 50px;
}

.board-element-2 {
    margin-top: 20px;
}

.board-map {
    float: left;
    display: inline-block;
    width: 50%;
    min-width: 400px;
}

.board-map img {
    width: 100%;
}

.board-element-1, .board-element-2 {
    float: left;
    display: inline-block;
    width: 40%;
    margin-left: 2%;
    min-width: 400px;
}

.board-element-1 img, .board-element-2 img {
    width: 100%;
}

.day3-desc div {
    float: left;
    display: inline-block;
    width: 50%;
    margin-right: 4%;
    min-width: 400px;
}

.day3-desc .left {
    width: 30%;
}

.outcome a {
    text-decoration: underline;
    text-decoration-color: grey;
    text-decoration-style: dashed;
    color: black;
}

.footer {
    margin: 0px auto;
    width: 90%;
}







