body {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    margin: 0px auto;
}

div {
    margin-top: 0px;
    margin-bottom: 0px;
}

#top {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
}

.logo {
    font-size: 28px;
    font-weight: 700;
}

.logo a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

.menu {
    float: right;
    width: 50%;
}

.menu-link {
    float: left;
    margin-left: 10%;
    font-weight: 500;
    font-size: 18px;
    color: #4c4c4c;
}

.menu-link a {
    text-decoration: none;
    color: #4c4c4c;
}

.bg img {
    position: relative;
    width: 100%;
    display: block;
}

.quote {
    position: absolute;
    top: 300px;
    z-index: 10;
    font-size: 65px;
    text-align: center;
    color: white;
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5);
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.btn-recipe {
    background: black;
    cursor: pointer;
    padding: 15px 35px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 13px;
    outline: none;
    border: 2px solid black;
    color: white;
    text-align: center;
}

#types .imgTypes {
    width: 100%;
    display: block;
}

#recipes {
    height: 350px;
    background-color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

#cafes #imgCafes {
    width: 100%;
    display: block;
}

.coffeeShops {
    z-index: 10;
    font-size: 35px;
    text-align: center;
    color: white;
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.7);
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
}

.btn-shop {
    background: none;
    cursor: pointer;
    padding-bottom: 5px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 13px;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    text-align: center;
}

#essay {
    background-color: #362d00;
    display: block;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 5%;
    padding-right: 5%;
    
}

.coffeeEssay {
    font-size: 30px;
    color: white;
    margin: 0;
}

.btn-essay {
    background: none;
    cursor: pointer;
    padding-bottom: 5px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 13px;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    text-align: center;
    margin-top: 20px;
}



























